.DS_Store
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.zip
*.pdf
*.mp4
*.pyc
*.cpuprofile

.idea/
**/node_modules/
*__pycache__/
dist/
docs/

!/www/media/video/demo.mp4
www/data/src/WebGazerETRA2018Dataset_Release20180420/
www/data/src/P*/
www/data/FramesDataset/
www/data/src/webgazer.js*
www/trainingData/*.png
www/trainingData/*.db
www/webgazer.js
